---
import { getCollection } from 'astro:content';
const generals = await getCollection("generals");
const generalInfo = generals[0];
import {Button} from '@/components/ui/button';
import {Box} from '@/components/ui/box';
import {H1} from '@/components/ui/typography';
---

<section class="min-h-screen place-content-center text-center py-10 px-2  bg-[url(../content/general/hero-bg-image.jpg)] bg-center bg-no-repeat bg-cover mask-y-from-70% mask-y-to-90% " >
 	<div class="flex  flex-col gap-4 md:gap-10 max-w-[320px] sm:max-w-[640px] md:max-w-[800px]  lg:max-w-[1440px] xl=max-w-[1200px] m-auto">
				 <Box message={generalInfo.data.tag}/>
				<H1 header={generalInfo.data.header}/>
			<div class="xl:px-10 mx-auto">
				<h2 class=" xl:text-2xl lg:text-xl pb-4 text-md text-white  font-light text-balance "
				>{generalInfo.data.description}</h2>
			</div>
								

				<div id="home-btn" class="flex flex-col  sm:flex-row gap-4 md   justify-center">
					
					<a href="https://drive.google.com/file/d/1TdLWykVUt9vSuJscvASQoX_TbE3FcC6v/view?usp=sharing"
					download="MohamedFarouk-benHajAmor.pdf"
					>
					<Button 
					size="lg"
					variant="outline" 
					>{generalInfo.data.actionbutton?.cv}</Button></a>
				</div>
 	</div>		
</section>
