---
import {
  Card,
  CardAction,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { getCollection } from "astro:content";
const professional = await getCollection("professional");
import { H2 } from "@/components/ui/typography";
import{ BoxSkills} from '@/components/ui/box';
---
<section class="flex flex-col gap-10  mx-5 lg:px-30 ">
  <div id="header" class="text-center flex flex-col gap-5">
    <H2 header="Work experience"/>
    <p class="text-xl ">A journey through multiple internships, contributing to development and user experience design, 
      and building hands-on expertise in full-stack web applications and intuitive interfaces.</p>
  </div>
   <div class="flex flex-col gap-5 ">
  {professional.sort((a,b) => b.data.year - a.data.year ).map((pro) =>(
   
 <Card>
<CardHeader>
    <CardTitle>{pro.data.title}</CardTitle>
    <CardDescription>{pro.data.company} - {pro.data.duration}</CardDescription>
    <CardAction>{pro.data.year}</CardAction>
  </CardHeader>
  <CardContent>
    
    {pro.data.tasks.map(task => 
      (
        <ul class="list-disc">
        <li>{task}</li>
        </ul>
      )
    )}  
  </CardContent>
  <CardFooter>
    {pro.data.relatedSkills.map(skill => (
      <BoxSkills message={skill.id}/>
    ))}
  </CardFooter>
</Card> 
  ))
  }
      </div>

</section>