---
import { getCollection } from 'astro:content';
const generals = await getCollection("generals");
const generalInfo = generals[0];
import {Button} from '@/components/ui/button';
import {Box} from '@/components/ui/box';
---

<section class="min-h-screen   place-content-center  text-center py-10 px-2  bg-[url(../content/general/hero-bg-image.jpg)] bg-center bg-no-repeat bg-cover" >
 	<div class="px-5 lg:px-45 flex  flex-col gap-4 md:gap-10">
				 <Box message={generalInfo.data.tag}/>
				<h1 class="xl:text-6xl lg:text-5xl pb-3 md:text-4xl text-3xl  bg-gradient-to-r from-orange-300 via-blue-300 to-purple-400 bg-clip-text text-transparent  font-black text-balance ">
					{generalInfo.data.header}
				</h1>
			<div class="xl:px-10 mx-auto">
				<h2 class=" xl:text-2xl lg:text-xl pb-4 text-md text-white  font-light text-balance "
				>{generalInfo.data.description}</h2>
			</div>
								

				<div id="home-btn" class="flex flex-col  sm:flex-row gap-4 md   justify-center">
					<Button>
						{generalInfo.data.actionbutton?.contact}</Button>
					<a href="/public/files/CV_version2.pdf"
					download="MohamedFarouk-benHajAmor.pdf"
					>
					<Button 
					variant="outline" 
					
					>{generalInfo.data.actionbutton?.cv}</Button></a>
				</div>
 	</div>
		
				
		</section>
